// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }
 .banner {
   background: white;
   padding: 1%;
   border-radius: 5px;
   box-shadow: 10px 5px 5px #6c757d;
   p {
     font-size: 20px;
   }
 }
 a {
   color: grey;
   &:hover {
     color: green;
   }
 }
